{{> nav_bar}}
<h2 class="subtitle"> Users List</h2>

<div class="search">
    <div class="searchtop">
    <span class="fa fa-search"></span>
    <input class="searchinput" type="text" placeholder="search username" name="search">
    </div>
</div>

</div>

<div id="allusers">
    <div id="allfriends">

        {{!-- <section class="user-card">
            <div class="user-name">
                <p>{{firstName}}<br> {{lastName}}</p>
            </div>
            <div class="user-image">
                <img src="{{image}}" alt="{{firstName}} {{lastName}}">
            </div>
            <div class="addBtn">
                <a href="/friends/add/{{_id}}">Add</a>
            </div>
        </section> --}}
    </div>
    <div id="nonfriends">


    </div>
</div>

{{>emailForm}}