<form method="POST" action="/items/update/{{_id}}" enctype="multipart/form-data" class="form-update">
    <h2 class="subtitle"> Update an item</h1>

        <div class="fullInput">
            <label for="name">Item Name <i class="fas fa-tag"></i></label>
            <input type="text" name="name" value="{{name}}">
        </div>

        <div class="fullInput">
            <label for="brand">Brand <i class="far fa-copyright"></i></label>
            <input type="text" name="brand" value="{{brand}}">
        </div>

        <div class="fullInput">
            <label for="description">Description <i class="fas fa-info-circle"></i></label>
            <input type="text" name="description" value="{{description}}">
        </div>

        <div class="fullInput">
            <label for="category">Category <i class="fas fa-box-open"></i></label>
            <select id="" name="category">
                {{#if category}}
                <option value="-1" disabled selected>{{category}}</option>
                {{else}}
                <option value="-1" disabled selected>Choose a category...</option>
                {{#each categories}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
                {{/if}}
            </select>
        </div>

        <div class="fullInput">
            <label for="price">Price <i class="fas fa-money-bill-wave"></i></label>
            <input type="text" name="price" value="{{price}}">
        </div>

        <div class="fullInput">
            <label for="link">Website link <i class="fas fa-link"></i></label>
            <input type="text" name="link" value="{{link}}">
        </div>

        <div class="fullInput">
            <img src="{{image}}" alt="{{brand}} {{name}} image">
            <label for="image">Update image <i class="fas fa-cloud-upload-alt"></i></label>
            <input type="file" name="image">
        </div>
        <button class="btn-log">Update!</button>

</form>