<div>
    <a href="/items">Back to full list</a>
    <a href="/items/create"> Add a new item <i class="fas fa-plus-circle"></i></a>
</div>

<div>
    <div>
        <p>{{brand}}</p>
        <div>
            <p><i class="fas fa-heart"></i></p>
            <p>{{likes}}</p>
            <a href="/items/update/:id"><i class="fas fa-edit"></i></a>
            <a href="/items/delete/:id"> <i class="fas fa-trash"></i></a>
        </div>
    </div>
    <p>{{price}}</p>
    <p>{{name}}</p>
    <p>{{description}}</p>
    <img src="{{image}}" alt="{{brand}} {{name}} image">
    <a href="{{link}}">Go to retailer website</a>

</div>