
{{> nav_bar}}

<section id="roulette-div">
    <div class="roulette-friend">
        <p id="roulettte-item-user-name">Like it for </p>
        <img id="roulettte-item-user-image" src="{{user.image}}" alt="">
    </div>

 <img id="roulette-image" src="{{image}}" alt="">
    <div class="roulette-items">
        <div class="roulettemid">
        <div class="roulette-item-info">
            <p id="roulette-name">{{name}}</p>
            <p id="roulette-price">{{price}}</p>
        </div>
        <hr class="hrroulette">
<p id="roulette-description">{{description}}</p>
      
        <a id="roulette-link" href="{{link}}" target="_blank">Product webpage</a>
    
    </div>



        <div class="roulette-btns">
            <div class="roulette-btns-container">
            <a id="dislike-btn" href="/roulette/dislike/{{_id}}" class="big bold">X</a>
</div>
<div class="roulette-btns-container">
            <a id="like-btn" href="roulette/like/{{_id}}"><i class="fas fa-heart big"></i></a>
       </div>

        </div>
    </div>

    </div>
</section>