<section id="roulette-div">
    <div>
        <p id="roulettte-item-user-name">Like it for </p>
        <img id="roulettte-item-user-image" src="{{user.image}}" alt="">
    </div>

    <hr>

    <div class="roulette-items">
        <div>
            <p id="roulette-brand">{{brand}}</p>
            <p id="roulette-price">{{price}}</p>
        </div>
        <p id="roulette-name">{{name}}</p>

        <img id="roulette-image" src="{{image}}" alt="">

        <div class="roulette-btns">
            <a id="dislike-btn" href="/roulette/dislike/{{_id}}"><i class="fas fa-thumbs-down"></i></a>

            <a id="like-btn" href="roulette/like/{{_id}}"><i class="fas fa-heart"></i></a>
        </div>
    </div>
    <div class="link">
        <a id="roulette-link" href="{{link}}" target="_blank">See more details</a>
    </div>
    </div>
</section>