<section id="roulette-div">
    <div>
        <p id="roulettte-item-user-name">Like it for {{user.name}}? </p>
        <img id="roulettte-item-user-image" src="{{user.image}}" alt=""> image
    </div>

    <hr>

    <div >
        <div>
            <p id="roulette-brand">{{brand}}</p>
            <p id="roulette-price">{{price}}</p>
        </div>
        <p id="roulette-name">{{name}}</p>
        <div>
            <i id="dislike-btn" class="fas fa-thumbs-down"></i>
            <img id="roulette-image" src="{{image}}" alt="">
            <i id="like-btn" class="fas fa-heart"></i>
        </div>
        <a id="roulette-link" href="{{link}}">See more details</a>
    </div>
</section>