<section id="roulette-div">
    <div>
        <p>Like it for {{user.name}}? </p>
        <img src="{{user.image}}" alt="">
    </div>

    <hr>

    <div >
        <div>
            <p>{{brand}}</p>
            <p>{{price}}</p>
        </div>
        <p>{{name}}</p>
        <div>
            <p><i id="dislike-btn" class="fas fa-thumbs-down"></i></p>
            <img src="{{image}}" alt="">
            <p><i id="like-btn" class="fas fa-heart"></i></p>
        </div>
        <a href="{{link}}">See more details</a>
    </div>
</section>